/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2020, 1:03:53 AM
    Author     : Shalom
*/
.center {
    margin:auto;
    width:80%;
    text-align: center
}

label {
    margin: 3px; font-family: "Arial";
}

.header-1 {
    font-weight: 600;
    font-size: x-large;
    font-family: "Arial";
}

.header-2 {
    font-weight: 400;
    font-size: large;
    font-family: "Arial";
}

td {
    padding-left: 10px;
    text-align: left;
}



th {
    text-align: left;
}

.output-field {
    font-weight: 600;
    padding-left: 10px;
}

.ui-panelgrid tr,
.ui-panelgrid-cell, ui-panelgrid td
{
    border: none;
    border-style: none !important;
    border-collapse: inherit;
}
 

.grid.ui-panelgrid>*>tr,
.grid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
    border-style: none !important;
}

.fifty-percent {
     width: 50%;
}

.thirty-percent {
     width: 30%;
}

.twenty-percent {
     width: 20%;
}

.top-alignment {
     vertical-align: top;
}